.section__picture {
  width: 100%;
  overflow: hidden; }

.section__picture--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section__picture__img {
  margin: 0;
  height: 400px; }

.section__text {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px;
  line-height: 23px;
  text-align: center; }

.section__contact {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px; }

.section__contact__info-group {
  list-style-type: none;
  padding: 0;
  margin-top: 33px; }

.section__contact__info-group li a {
  color: #969696!important;
}

.section__ships {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px; }

.section__ships__title {
  padding: 10px;
}

.section__ships__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 10px;
}

.ships__arrow {
  width: 15px;
  height: 15px;
  border-right: 3px solid #7d7c7c;
  border-top: 3px solid #7d7c7c;
  display: block;
  cursor: pointer; }

.ships__arrow:hover {
  border-color: black;
}

.ships__arrow--left {
  -webkit-transform: rotate(228deg);
  transform: rotate(228deg); 
}

.ships__arrow--right {
  -webkit-transform: rotate(47deg);
  transform: rotate(47deg); 
}

.ships__arrow-container {
  padding: 0 10px 0 0;
  float: left;
}

@media (min-width: 576px) {
  .section__picture__img {
    width: 800px;
    height: 600px; } }

@media (min-width: 768px) {
  .section__picture {
    width: 65%;
    overflow: hidden; }
  .section__picture__img {
    width: 890px;
    height: 600px; }
  .section__text {
    width: 35%;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: left; }
  .section__text {
    text-align: left; }
  .section__form {
    width: 65%;
    float: left; }
  .section__form__input {
    width: 90%; }
  .section__contact {
    width: 35%;
    float: left; }
  .section--left {
    float: left; }
  .section--right {
    float: right; } }

@media (min-width: 992px) {
  .section__text p {
    padding: 0 10px;
  }
  .section__text h2 {
    padding: 15px 10px;
  }
}

@media (min-width: 1200px) {
  .section__picture {
    width: 890px; }
  .section__text {
    width: calc(100% - 890px); } 
}

@media (min-width: 1350px) {
    .section__text p {
    padding: 0 80px;
  }
  .section__text h2 {
    padding: 40px 80px;
  }
}

