@font-face {
  font-family: 'TwCenMT-Regular';
  src: url('../fonts/TCM.TTF');
}

body {
    min-width: 360px;
    font-family: TwCenMT-Regular,Arial,sans-serif!important; }

.skip-link {
  display: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 70px; }

.hero--home {
  background-image: url('../imgs/hero-main_xs.jpg');
}

@media (min-width: 768px) {
  .hero--home {
    background-image: url('../imgs/hero-main.jpg');
  }
}

