.wp-post-image {
    display: block;
    width: 100%;
    height: auto;
}

a{
    color: #000;
  }
  
  a:hover{
    color: #000;
  }

  .content-area {
    background-color: #ededed;
    padding-top: 30px;
  }

  .hero--yacht-archive {
    background-image: url('../imgs/hero_xs.jpg');
  }
  
  .post-title{
    text-align: left;
    font-size: 20px;
    margin: 5px 0!important;
    color: #7d7c7c;
  }
  
  .read-more{
    width: 100px;
    height: 30px;
    background-color: #919b9b;
    border-radius: 6px;
    display: block;
    position: static;
    border: 0;
  }
  
  .read-more p{
    text-align: center;
    color: #fff;
  }
  
  .post-info{
    margin: 0;
    float: left;
    font-size: 13px;
  }
  
  .post-info-container{
    margin-top: 10px;
  }

  .cbt_post_thumbnail {
    padding: 0 10px;
  }

  .cbt_post_thumbnail_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .hero--yacht-archive {
      background-image: url('../imgs/hero.jpg');
    }
  }