.yacht-info-container {
  background-color: #ededed;
}

.yacht-contact-container {
  background-color: #000;
}

.section__picture {
  width: 100%;
  overflow: hidden; }

.section__picture--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section__picture__img {
  margin: 0;
  width: 540px; }

.yacht-info {
  padding-top: 55px;
  padding-bottom: 55px; }

.charter-info {
  padding-top: 55px;
  padding-bottom: 55px; }

.yacht-info--bold {
  font-weight: 900; }

.yacht-info__title {
  padding: 20px 0; }

.yacht-info__list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.yacht-info__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0;
  border-bottom: 1px solid #434343; }

.yacht-info__list__item-name {
  width: 100%; }

.yacht-info__list__item-info {
  width: 50%;
  text-align: right; }

@media (min-width: 576px) { 
  .section__picture__img {
    margin: 0;
    width: 740px; }}

@media (min-width: 768px) {
  .section__picture__img {
    margin: 0;
    width: 1040px; }}

@media (min-width: 992px) {
  .yacht-info-container {
    width: 65%;
    float: left; }
  .yacht-contact-container {
    width: 35%; 
    float: left;} 
  .section__picture__img {
    margin: 0;
    width: 1340px; }
  .yacht-container {
    height: auto;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .yacht-info-container {
    width: 68%; }
  .yacht-contact-container {
    width: 32%; }
  .section__picture__img {
    margin: 0;
    width: 1540px; }}

