.yacht-info {
  padding-top: 55px;
  padding-bottom: 55px; }

.charter-info {
  padding-top: 55px;
  padding-bottom: 55px; }

.yacht-info--bold {
  font-weight: 900; }

.yacht-info__title {
  padding: 20px 0; }

.yacht-info__list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.yacht-info__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0;
  border-bottom: 1px solid #434343; }

.yacht-info__list__item-name {
  width: 50%; }

.yacht-info__list__item-info {
  width: 50%;
  text-align: right; }

@media (min-width: 768px) {
  .yacht-info {
    width: 60%;
    float: left; }
  .charter-info {
    width: 40%;
    float: left; } }

@media (min-width: 992px) {
  .yacht-info {
    width: 65%; }
  .charter-info {
    width: 35%; } }

@media (min-width: 1200px) {
  .yacht-info {
    width: 68%; }
  .charter-info {
    width: 32%; } }

